.landing-container {
    padding: 32px 64px;
    position: relative;
}
.landing {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: block;
    &-card {
        margin-bottom: 24px;
    }
}

/* Components */

@import './banner.less';
@import './searchbox.less';
@import './rank.less';