.rank-mode-switcher {
  span {
    color: @color-text-primary;
    font-weight: 600;
    letter-spacing: 0.05em;
    .no-select();
  }
}
.rank-mode-item-row {
  margin-bottom: 8px;
}
.rank-mode-item-row:last-child {
  margin-bottom: 0px;
}
.rank-mode-item-tag {
  margin-bottom: 8px;
  font-size: 17px;
}
.rank-mode-item {
  display: inline-flex;
  margin-right: 8px;
  font-size: 15px;
  padding: 0 6px;
  box-sizing: border-box;
  line-height: 26px;
  height: 26px;
  span {
    transition: 100ms;
  }
}
.rank-mode-item:hover {
  cursor: pointer;
  span {
    color: lighten(@color-text-primary, 10%);
  }
}
.rank-mode-item-picked {
  background: @color-text-primary;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
  cursor: default !important;
  span {
    color: @color-background-primary !important;
  }
}

// dark mode
.dark {
  .rank-mode-switcher {
    span {
      color: darken(@color-text-primary, 2.5%);
    }
  }
  .rank-mode-item:hover {
    cursor: pointer;
    span {
      color: lighten(@color-text-primary, 3.5%);
    }
  }
  .rank-mode-item-picked {
    background: darken(@color-text-primary, 2.5%);
    span {
      color: darken(@color-background-dark, 5%) !important;
    }
  }
}

/* Mobile */

@media (max-width: 767px) {
  .rank-mode-item-tag {
    margin-bottom: 2px;
  }
  .rank-mode-item {
    line-height: 28px;
  }
}
