.pic-author {
  span,
  a {
    color: @color-text-primary;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
  &-title {
    font-size: 26px;
    height: 34px;
    .no-select();
  }
  &-info {
    margin-top: 18px;
    display: flex;
    align-items: center;
    &-avatar {
      display: inline-block;
      width: 48px;
      height: 48px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 24px;
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.125);
    }
    a {
      margin-left: 16px;
      font-size: 20px;
      transition: 150ms all ease-in-out;
      text-decoration: none;
    }
    a:hover {
      cursor: pointer;
      color: lighten(@color-text-primary, 10%);
    }
  }
}

// dark mode
.dark {
  .pic-author {
    span {
      color: darken(@color-text-primary, 2.5%);
    }
    &-info {
      &-avatar {
        filter: brightness(0.875);
      }
      span:hover {
        color: lighten(@color-text-primary, 2.5%);
      }
    }
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .pic-author {
    &-title {
      font-size: 24px;
    }
  }
}

/* iPad / iPad Pro protrait */
@media screen and (orientation: portrait) and (max-width: 1024px) {
  .pic-author {
    &-title {
      font-size: 22px;
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  .pic-author {
    &-title {
      font-size: 22px;
    }
    &-info {
      font-size: 20px;
      a {
        margin-left: 12px;
      }
      .pic-author-name--long {
        font-size: 18.5px;
        letter-spacing: 0.075rem;
      }
    }
  }
}
