.pic-overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 3000;
  background: lighten(@color-primary, 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-wrapper {
    margin-bottom: 5.5rem;
    span,
    i {
      .no-select();
    }
    .pic-overlay-icon {
      color: @color-text-primary;
      font-size: 58px;
      margin-bottom: 1.75rem;
      text-align: center;
    }
    .pic-overlay-tip {
      color: @color-text-primary;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      margin: 0 auto 2.75rem auto;
      text-align: center;
    }
    .pic-overlay-back {
      text-align: center;
    }
  }
}

.dark {
  .pic-overlay {
    filter: brightness(0.875);
  }
}

@media screen and (max-width: 767px) {
  .pic-overlay {
    &-wrapper {
      margin-bottom: 4.25rem;
      .pic-overlay-tip {
        font-size: 1.75rem;
        letter-spacing: 0.05rem;
      }
    }
  }
}
