.pic-container {
    width: calc(100% - 128px);
    padding: 0 64px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .el-loading-mask {
        background-color: #fff;
    }
}

.pic {
    height: max-content;
    margin: 0 auto;
    display: flex;
    &-presentation {
        width: max-content;
        flex: 0 0 auto;
    }
    &-side {
        padding-top: 24px;
        width: 432px;
        margin-left: 48px;
        flex: 0 0 auto;
    }
}

/* Overlay */

@import './overlay.less';
@import './presentation.less';
@import './author.less';
@import './related.less';