body{
    margin: 0;
    background: @color-background-primary;
    width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

#app {
    width: 100%;
    position: relative;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}