body{
    margin: 0;
    background: @color-background-primary;
    scroll-behavior: smooth;
    width: 100%;
}

@scrollbar-width: 8px;

body::-webkit-scrollbar {
    width: @scrollbar-width;
}
body::-webkit-scrollbar-button {
    display: none;
}
body::-webkit-scrollbar-thumb {
    width: @scrollbar-width;
    border-radius: @scrollbar-width;
    background: @color-primary;
}
body::-webkit-scrollbar-track {
    background: @color-background-primary;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

#app {
    width: 100%;
    position: relative;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}