.loading-spiral {
  width: 28px !important;
  height: 26px !important;
  border: 2px solid @color-text-primary !important;
  border-right: transparent !important;
}

.dark {
  .loading-spiral {
    border: 2px solid darken(@color-text-primary, 2.5%) !important;
    border-right: transparent !important;
  }
}
