// notice
.oneline-notice-container {
  .el-notification__group {
    .el-notification__content {
      margin: 2px 0 0;
      color: @color-text-primary;
      font-weight: 600;
      .notice-link {
        margin: 2px;
        text-decoration: underline;
        transition: color 150ms ease-in-out;
      }
      .notice-link:hover {
        cursor: pointer;
        color: lighten(@color-text-primary, 10%);
      }
      .notice-link:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (display-mode: standalone) {
  .oneline-notice-container {
    margin-top: calc(env(safe-area-inset-top) + 12px);
  }
}
